@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary: #2d76f9;
  --secondary: #eef4ff;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  color: #212121;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 18px;
}
